/**
 * The "Trits (balanced ternary computing)" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/trits-balanced-ternary-computing}
 */
function execute(readline) {
    const lhs = readline();
    const op = readline();
    const rhs = readline();

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('11T');
}

export { execute };
