/**
 * The "Faro shuffle" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/faro-shuffle}
 */
function execute(readline) {
    const n = parseInt(readline());
    const deck = readline();

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('answer');
}

export { execute };
