/**
 * The "Binary image" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/binary-image}
 */
function execute(readline) {
    const h = parseInt(readline());
    for (let i = 0; i < h; i++) {
        const row = readline();
    }
    for (let i = 0; i < h; i++) {

        // Write an answer using console.log()
        // To debug: console.error('Debug messages...');

        console.log('answer');
    }
}

export { execute };
