/**
 * The "Genetics and computers - part 1" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/genetics-and-computers---part-1}
 */
function execute(readline) {
    var inputs = readline().split(' ');
    const parent1 = inputs[0];
    const parent2 = inputs[1];
    const ratio = readline();

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('Genotypic Ratio');
}

export { execute };
