/**
 * The "The resistance" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/the-resistance}
 */
function execute(readline) {
    const L = readline();
    const N = parseInt(readline());
    for (let i = 0; i < N; i++) {
        const W = readline();
    }

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('answer');
}

export { execute };
