/ci/c8/
/ci/jsdoc/
/node_modules/
/lib/**/*.js
!/lib/configuration/**/*.js
!/lib/generator/**/*.js
!/lib/parser/**/*.js
/test/**/*.*
!/test/configuration/**/*.*
!/test/generator/**/*.*
!/test/parser/**/*.*
!/test/File.js
!/test/assertOutputAnswer.js
/.ashrc
/.env
/docker-compose.override.yml
