/**
 * The "Barcode scanner" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/barcode-scanner}
 */
function execute(readline) {
    const scanline = readline();

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('1234567890123');
}

export { execute };
