/**
 * The "The grand festival - II" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/the-grand-festival---ii}
 */
function execute(readline) {
    const N = parseInt(readline());
    const R = parseInt(readline());
    for (let i = 0; i < N; i++) {
        const PRIZE = parseInt(readline());
    }
}

export { execute };
