/**
 * The "Winamax" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/winamax-sponsored-contest}
 */
function execute(readline) {
    var inputs = readline().split(' ');
    const width = parseInt(inputs[0]);
    const height = parseInt(inputs[1]);
    for (let i = 0; i < height; i++) {
        const row = readline();
    }
}

export { execute };
