/**
 * The "The river II" puzzle.
 * @see {@link https://www.codingame.com/training/easy/the-river-ii-}
 */
function execute(readline) {
    const r1 = parseInt(readline());

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('YES|NO');
}

export { execute };
