/**
 * The "Crop-circles" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/crop-circles}
 */
function execute(readline) {
    const instructions = readline();

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('Farming-Field with Crop-Circles');
}

export { execute };
