/**
 * The "Rearrange string to two numbers" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/rearrange-string-to-two-numbers}
 */
function execute(readline) {
    const S = readline();

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('-1 -1');
}

export { execute };
