/**
 * The "Body weight is a girl's secret" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/body-weight-is-a-girls-secret}
 */
function execute(readline) {
    var inputs = readline().split(' ');
    for (let i = 0; i < 10; i++) {
        const w = parseInt(inputs[i]);
    }

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('answer');
}

export { execute };
