/**
 * The "Reversed look-and-say" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/reversed-look-and-say}
 */
function execute(readline) {
    const s = readline();

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('answer');
}

export { execute };
