/**
 * The "Regular polygons" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/regular-polygons}
 */
function execute(readline) {
    var inputs = readline().split(' ');
    const a = parseInt(inputs[0]);
    const b = parseInt(inputs[1]);

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('answer');
}

export { execute };
