/**
 * The "Maze /w teleporters and jumps" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/maze-w-teleporters-and-jumps}
 */
function execute(readline) {
    const width = parseInt(readline());
    const height = parseInt(readline());
    for (let i = 0; i < height; i++) {
        const row = readline();
    }

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('answer');
}

export { execute };
