/**
 * The "Hacking at RobberCity" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/hacking-at-robbercity}
 */
function execute(readline) {
    const message1 = readline();
    const message2 = readline();
    const message3 = readline();

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('clear message');
}

export { execute };
