/**
 * The "Robot reach" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/robot-reach}
 */
function execute(readline) {
    const R = parseInt(readline());
    const C = parseInt(readline());
    const T = parseInt(readline());

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('answer');
}

export { execute };
