/**
 * The "Number of letters in a number - Binary" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/number-of-letters-in-a-number---binary}
 */
function execute(readline) {
    var inputs = readline().split(' ');
    const start = parseInt(inputs[0]);
    const n = parseInt(inputs[1]);

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('42');
}

export { execute };
