/**
 * The "River crossing" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/river-crossing}
 */
function execute(readline) {
    const INITIAL = readline();
    const TARGET = readline();

    // Write an answer using console.log()

    console.log('L L L L');
    console.log('R L R L');
}

export { execute };
