/**
 * The "Texas holdem" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/texas-holdem}
 */
function execute(readline) {
    const holeCardsPlayer1 = readline();
    const holeCardsPlayer2 = readline();
    const communityCards = readline();

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('answer');
}

export { execute };
