/**
 * The "ASCII ART : glass stacking" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/ascii-art-glass-stacking}
 */
function execute(readline) {
    const N = parseInt(readline());

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('answer');
}

export { execute };
