/**
 * The "Cards castle" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/cards-castle}
 */
function execute(readline) {
    const H = parseInt(readline());
    for (let i = 0; i < H; i++) {
        const S = readline();
    }

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('UNSTABLE');
}

export { execute };
