/**
 * The "Horse-racing hyperduals" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/horse-racing-hyperduals}
 */
function execute(readline) {
    const N = parseInt(readline());
    for (let i = 0; i < N; i++) {
        var inputs = readline().split(' ');
        const V = parseInt(inputs[0]);
        const E = parseInt(inputs[1]);
    }

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('42');
}

export { execute };
