/**
 * The "Jack Silver: the casino" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/jack-silver-the-casino}
 */
function execute(readline) {
    const ROUNDS = parseInt(readline());
    const CASH = parseInt(readline());
    for (let i = 0; i < ROUNDS; i++) {
        const PLAY = readline();
    }

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('cash of the target after playing');
}

export { execute };
