/**
 * The "The stonemason" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/the-stonemason}
 */
function execute(readline) {
    const n = parseInt(readline());

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('units');
}

export { execute };
