/**
 * The "Auto pickup" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/auto-pickup}
 */
function execute(readline) {
    const n = parseInt(readline());
    const packet = readline();

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('001[length][item id]');
}

export { execute };
