/**
 * The "XML MDF-2016" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/xml-mdf-2016}
 */
function execute(readline) {
    const sequence = readline();

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('answer');
}

export { execute };
