/**
 * The "Goro want chocolate" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/goro-want-chocolate}
 */
function execute(readline) {
    var inputs = readline().split(' ');
    const h = parseInt(inputs[0]);
    const w = parseInt(inputs[1]);

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('0');
}

export { execute };
