/**
 * The "Retaining water" puzzle.
 * @see {@link https://www.codingame.com/ide/puzzle/retaining-water}
 */
function execute(readline) {
    const N = parseInt(readline());
    for (let i = 0; i < N; i++) {
        const line = readline();
    }

    // Write an answer using console.log()
    // To debug: console.error('Debug messages...');

    console.log('volume');
}

export { execute };
